# macOS
.DS_Store

# Xcode
build/
DerivedData/
*.xcuserstate
*.xcuserdatad/
xcuserdata/
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.build/

# Firebase
.firebaserc
firebase-debug.log
firestore-debug.log
ui-debug.log
.firebase/
